---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Joy's Fun Corner";
const pageDescription = "Gaming setup, Gym PRs, and random thoughts on life.";
const pageImage = "/glass-mirror/images/fun-setup.jpg"; // You need to create this image
---

<BaseLayout pageTitle={pageTitle} description={pageDescription} image={pageImage}>
    <section>
        <h2>About My Other Side</h2>
        <p>
            I likes to play games and sometimes I also do content creation as well.
            I routinely go to gym to maintain my physical form and to be healthy.
            A proud Christian.
        </p>
    </section>

    <section>
        <h2>Connect</h2>
        <ul class="link-list">
            <li>
                <span class="label">Steam</span>
                <a href="https://steamcommunity.com/id/katzeowo/" target="_blank">7akihito</a>
            </li>
            <li>
                <span class="label">Youtube</span>
                <a href="#" target="_blank">@yourhandle</a>
            </li>
            <li>
                <span class="label">Twitch</span>
                <a href="https://twitch.tv/7akihito" target="_blank">@7akihito</a>
            </li>
        </ul>
    </section>

</BaseLayout>