---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Glass Mirror";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h2>About</h2>
        <p>
            This is my personal corner of the internet. I am building this 
            from scratch to learn the fundamentals of web development.
            Now running on Astro.
        </p>
    </section>

    <section>
        <h2>Connect</h2>
        <ul class="link-list">
            <li>
                <span class="label">GitHub</span>
                <a href="https://github.com/jychpr" target="_blank">@jychpr</a>
            </li>
            <li>
                <span class="label">Twitter</span>
                <a href="#" target="_blank">@yourhandle</a>
            </li>
            <li>
                <span class="label">Email</span>
                <a href="mailto:your@email.com">Send Hi</a>
            </li>
        </ul>
    </section>

</BaseLayout>