---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "jychpr's TILs";

const allPosts = await Astro.glob('./posts/*.md');

// FILTERING LOGIC
const tils = allPosts.filter((post) => post.frontmatter.tags?.includes('til'));

// Add this line
tils.sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate));
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Learning</h2>
    <p>Collections of Today I Learns</p>

    <ul class="link-list">
        {tils.map((post) => (
            <li>
                <span class="label">{post.frontmatter.pubDate.slice(0,10)}</span>
                <a href={post.url}>{post.frontmatter.title}</a>
            </li>
        ))}
    </ul>
</BaseLayout>